<!doctype html>
<html lang="en" ng-app="chani">

<head>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="chani.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
    <style>
                .mybook{
                float: left;
                margin: 20px;
                padding: 20px;
                background-color:white;

                }
            
                body {
                    background-color: rgb(206, 198, 198);
                }
                img{
                    margin-bottom: 15px;

                }
    </style>
            
            

</head>
<body>
    <h5>BOOKS</h5>


        

    <div ng-controller="mybooks">

        <div class="mybook" ng-repeat='(key, value) in book'>
            <img ng-src={{value.image}} width="{{value.img.width}}">
            <figcaption>
            {{value.book}}
            <br>
            {{value.name}}
            <br>
            <button class="btn btn-primary" ng-click="addItem(value.isbn)">Add Book to shopping cart</button>
        </figcaption>
         </div>

    </div>


    <div ng-controller="finish">
        <p>Full name: {{user.firstname}} {{user.lastname}}</p>
        <input placeholder="first name" ng-model="user.firstname">
        <input placeholder="last name" ng-model="user.lastname">
        
        <button ng-click="shoppingCart()" class="btn btn-lg btn-primary">
                <span class="glyphicon glyphicon-shopping-cart"> </span> Go to shopping cart
            </button>
    </div>
    <br>



</body>

</html>